.sidebar-container {
  background-color: #0D0431;
  width: 200px;
  height: 100vh;
  padding: 20px;
  color: white;
}

.menu-item {
  margin: 10px 0;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}
