.login {
    display: flex;
    height: 100vh;
    width: 100%;
}

.login-right-section {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-left-section {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../Images/LiganetCanchas.jpeg');
    background-size: cover;
    background-position: center;
}

.login-ContentForm {
    width: 100%; /* Ajusta el ancho según sea necesario */
    max-width: 500px; /* Limita el ancho máximo para evitar desbordamiento */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

