.login {
    display: flex;
    height: 100vh;
    width: 100%;
}

.right-section {
    width: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section {
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../Images/LiganetCanchas.jpeg');
    background-size: cover;
    background-position: center;
}

.ContentForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}
