.filter-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chip, .chip-reset {
  background-color: #090126;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex: none;
}

.chip:hover, .chip-reset:hover {
  background-color: #0d0431f3;
  color: #FFFFFF;
}

.chip-reset {
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  justify-content: center;
}


.chip-reset svg {
  width: 20px;
  height: 20px;
}
