* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Sora', sans-serif;
}

.SignUp {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left-section {
    width: 40%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../../Images/LiganetCanchas.jpeg');
    background-size: cover;
    background-position: center;
}

.right-section {
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ContentForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.TresCampos {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.error-message {
    color: red;
    margin-top: 10px;
}

