* {
  margin: 0; /* Establece el margen exterior de un elemento en cero */
  padding: 0; /* Establece el relleno de todos los elementos en cero */
}

html,
body {                  /* Establece el tamaño de fuente predeterminado para todos los elementos */
  font-size: 18px;      /* 1rem = 18px */
  background-color: rgb(250, 254, 255); /* Establece el color de fondo de la página */

}

h1 {
  max-width: 940px;             /* Establece el ancho máximo de un elemento */
  font-size: 2.5rem;            /* Establece el tamaño de fuente de un elemento */
  font-family: Sora, sans-serif;/* Establece la fuente de un elemento */
  font-weight: 700;             /* Establece el grosor de la fuente de un elemento */
  line-height: 1.1;             /* Establece la altura de línea de un elemento */
  margin: 40px 0;               /* Establece el margen el primer valor de forma vertical y el segundo en horizontal/
}

h2 {
  font-size: 2rem;                /* Establece el tamaño de fuente de un elemento */
  font-family: Sora, sans-serif;  /* Establece la fuente de un elemento */
  font-weight: 700;               /* Establece el grosor de la fuente de un elemento */
  line-height: 1.1;               /* Establece la altura de línea de un elemento */
  margin: 40px 0;                 /* Establece el margen superior con valor de  */
}

button {
  flex: 1;                      /* Añadido para que los botones se estiren para ocupar el espacio disponible */
  padding: 8px;
  background-color: #090126;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 10px;               /* Añadido para crear espacio entre los botones */
  margin-bottom: 16px;
}

button:first-child {
  margin-left: 0;               /* Añadido para que el primer botón no tenga margen a la izquierda */
}

button:last-child {
  margin-right: 0;              /* Añadido para que el último botón no tenga margen a la derecha */
}

button:hover {
  background-color: #0d0d0d;
}
