/* InputBox.css */

.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  margin-left: 8px;
}

.input-box label {
  width: 100%;
  text-align: left;
  padding: 8px 0;
}

.input-box input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}



.input-icon {
  position: absolute;
  right: 10px;
  top: 48%;
  transform: translateY(-50%);
  pointer-events: none; /* Asegura que el icono no interfiera con la interacción del input */
}

