.card {
  background-color: #090126;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  flex: 0 0 200px; /* Asegura un ancho fijo */
}

.card-image-container {
  height: 160px;
  border-radius: 10px;
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D1DFDE; /* Fondo de reserva en caso de que la imagen no cargue */
}

.card-image {
  width: auto; /* Ancho automático */
  height: 100%; /* Altura del 100% del contenedor */
  max-width: 100%; /* Ancho máximo del 100% del contenedor */
  max-height: 100%; /* Altura máxima del 100% del contenedor */
  border-radius: 10px;
}

.card-content {
  padding: 10px;
  color: #FFFFFF;
}
