.ReserveContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 8px;
}

.Reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D1DFDE;
    height: 100%;
    width: 24rem;
    border-radius: 8px;
    margin-right: 8px;
}

.TitleReservations {
    position: absolute;
    top: 100px;
}

.available-courts {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}